body {
    font-size: 16px;
    background-color: darkgrey;
}
main {
    padding-top: 20px;
}
header {
    background-color: #B15858;
    position: sticky; 
    top: 0;
    border-bottom: white 15px;
    border-style: solid;
}
.navbar-brand {
    padding: 10px;
}
.nav-link {
    color: white;
    font-size: 35px;
    font-family: "fleisch-wolf", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar-toggler {
    color: white;
    background-color: white;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
header img {
    height: 150px;
    width: 100px;
}
ul {
    padding-right: 2em;
}
li {
    padding-right: 0.8em;
}
.hero {
    display: flex;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    min-height: calc(175px + 25vw);
    justify-content: center;
    align-items: center;
    opacity: 100%;
}
h1 {
    font-size: calc(6vw + 1px);
    color: #DA3939;
    text-align: center;
    font-family: "fleisch-wolf", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer {
    background-color: #25242D;
    max-height: 15em;
    color: #FFFFFF;
    padding-top: 0.1em;
    margin: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    min-height: 10em;
}

@media (min-width: 768px) {
.navbar-expand-md 
.navbar-collapse {
    display: flex;
    flex-basis: 0;
}
}
